<div class="home-product-intro">
    <br>
    <div class="product-intro-title">妙手生花，创意无限</div>
    <div class="product-intro-content">我们勇于创新，不断追求卓越，各种创意设计与新颖想法是我们执手的利刃。</div>
<div class="home-product-container">
    <%- partial('home-product-list') %>
</div>
</div>  